@charset "utf-8";
/*procure sempre padronizar no uso das medidas px e vh*/




/*MOBILE [0px - 599px]*/
@media screen and (min-width: 0px) and (max-width: 599px){
    .footer {
        grid-row: 5/6;
        grid-column: 1/2;
        
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 22% 66% 12%;
        /*
        grid-template-rows: 22% 66% 12%;
        grid-template-rows: 22% 68% 10%;
        grid-template-rows: 25% 65% 10%;
        grid-template-rows: 25% 60% 15%;
        grid-template-rows: 16% 73% 11%;
        grid-template-rows: 15% 70% 15%;
        */
        background-color: var(--color-violet_super_dark);
    }
        .footer__header {
            grid-row: 1/2;
            grid-column: 1/2;

            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: end;
        }
            .footer__title {
                width: clamp(250px, 85vw, 390px);
                /*
                width: 250px; min
                width: 340px - 85vw; default
                width: 390px; max
                */

                font-size: clamp(18px, 4.88vw, 22px);
                /*
                font-size: 18px; min
                font-size: 19.5px - 4.88vw; default
                font-size: 22px; max
                */
                
                font-family: var(--font_normal);
                font-weight: normal;
                
                letter-spacing: clamp(3px, 1.25vw, 8px);
                /*
                letter-spacing: 3px; min
                letter-spacing: 5px - 1.25vw; default
                letter-spacing: 8px; max
                */

                line-height: clamp(25px, 7vw, 34px);
                /*
                line-height: 25px; min
                line-height: 28px - 7vw; default
                line-height: 34px; max
                */

                text-align: center;
                color: var(--color-azure);
            }


        .footer__social {
            grid-row: 2/3;
            grid-column: 1/2;

            width: 100%;
            height: 100%;

            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2, 1fr);
        }
            .footer__link {
                width: clamp(66px, 19.5vw, 93px);
                height: clamp(66px, 19.5vw, 93px);
                /*
                width: 66px; min
                height: 66px; min

                width: 78px - 19.5vw; default
                height: 78px - 19.5vw; default
                
                width: 93px; max
                height: 93px; max
                */

                justify-self: center;
                align-self: center;
                
                border-radius: 12px;
                overflow: hidden;

                color: var(--color-azure);
                background-color: white;
            }
                .footer__link:nth-of-type(1) {
                    margin-left: clamp(25px, 6.5vw, 60px);
                    /*
                    margin-left: 25px; min
                    margin-left: 25px - 6.5vw; min - default
                    margin-left: 60px; max
                    */
                }
                .footer__link:nth-of-type(2) {
                    margin-right: clamp(25px, 6.5vw, 60px);
                    /*
                    margin-right: 25px; min
                    margin-right: 25px - 6.5vw; min - default
                    margin-right: 60px; max
                    */
                }
                .footer__link:nth-of-type(3) {
                    margin-top: clamp(20px, 7vw, 35px);
                    /*
                    margin-top: 20px; min
                    margin-top: 28px - 7vw; default
                    margin-top: 35px; max
                    */
                    
                    margin-left: clamp(25px, 6.5vw, 60px);
                    /*
                    margin-left: 25px; min
                    margin-left: 25px - 6.5vw; min - default
                    margin-left: 60px; max
                    */
                    
                    align-self: start ;
                }
                .footer__link:nth-of-type(4) {
                    margin-top: clamp(20px, 7vw, 35px);
                    /*
                    margin-top: 20px; min
                    margin-top: 28px - 7vw; default
                    margin-top: 35px; max
                    */
                    
                    margin-right: clamp(25px, 6.5vw, 60px);
                    /*
                    margin-right: 25px; min
                    margin-right: 25px - 6.5vw; min - default
                    margin-right: 60px; max
                    */
                    
                    align-self: start ;
                }


        .footer__bottom {
            grid-row: 3/4;
            grid-column: 1/2;

            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            
            background-color: var(--color-azure);
        }
            .footer__author {
                font-size: clamp(14px, 4vw, 17px);
                /*
                font-size: 14px; min
                font-size: 16px - 4vw; default
                font-size: 17px; max
                */

                font-style: italic;

                letter-spacing: clamp(1px, 0.38vw, 2px);
                /*
                letter-spacing: 1px; min
                letter-spacing: 1.5px - 0.38vw; min - default
                letter-spacing: 2px; max
                */

                color: var(--color-violet_super_dark);
                padding-bottom: 5px;
            }
            .footer__copyright {
                font-size: clamp(14px, 4vw, 17px);
                /*
                font-size: 14px; min
                font-size: 16px; default
                font-size: 17px; max
                */

                font-style: italic;

                letter-spacing: clamp(1px, 0.38vw, 2px);
                /*
                letter-spacing: 1px; min
                letter-spacing: 1.5px; min - default
                letter-spacing: 2px; max
                */

                color: var(--color-violet_super_dark);
            }
}





/*TABLET [600px - 1024px]*/
@media screen and (min-width: 600px) and (max-width: 1024px) {
    .footer {
        grid-row: 5/6;
        grid-column: 1/2;
        background-color: var(--color-violet_super_dark);

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 15% 70% 15%;
    }
        .footer__header {
            grid-row: 1/2;
            grid-column: 1/2;

            justify-self: center;
            align-self: end;
        }
            .footer__title {
                color: var(--color-azure);
            }


        .footer__social {
            grid-row: 2/3;
            grid-column: 1/2;

            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2, 1fr);
        }
            .footer__link {
                width: 100px;
                height: 100px;

                justify-self: center;
                align-self: center;

                border-radius: 12px;

                color: var(--color-azure);
                background-color: white;
            }

        .footer__bottom {
            grid-row: 3/4;
            grid-column: 1/2;

            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            
            background-color: var(--color-azure);

        }
            .footer__author {
                color: var(--color-violet_super_dark);
            }
            .footer__copyright {
                color: var(--color-violet_super_dark);
            }
}





/*LAPTOP - DESKTOP - TV [1025px - 1920px - > 1920px]*/
@media screen and (min-width: 1025px) {
    .footer {
        grid-row: 5/6;
        grid-column: 1/2;

        display: grid;
        grid-template-rows: 20% 60% 20%;
        grid-template-columns: 1fr;

        background-color: var(--color-violet_super_dark);
    }
        .footer__header {
            grid-row: 1/2;
            grid-column: 1/2;
            
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: end;
        }
            .footer__title {
                font-size: clamp(35px, 3vw, 76px);
                font-weight: normal;

                letter-spacing: 9px;

                color: var(--color-azure);
            }


        .footer__social {
            grid-row: 2/3;
            grid-column: 1/2;

            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
            align-items: center;
        }
            .footer__link {
                width: 100px;
                height: 100px;

                justify-self: center;
                align-self: center;

                border-radius: 12px;

                color: var(--color-azure);
                background-color: white;
            }


        .footer__bottom {
            grid-row: 3/4;
            grid-column: 1/2;

            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            
            background-color: var(--color-azure);

        }
            .footer__author {
                color: var(--color-violet_super_dark);
            }
            .footer__copyright {
                color: var(--color-violet_super_dark);
            }
}




