@charset "utf-8";
/*GLOBAL SETTINGS*/

/*procure sempre padronizar no uso das medidas px e vh*/



/*fonts externals*/
/*Inter*/
@font-face {
    font-family: 'Inter Regular';
    src: url(../fonts/inter/Inter-Regular.otf) format(OpenType);
}

/*JetBrains*/
@font-face {
    font-family: 'JetB Regular';
    src: url(../fonts/JetBrainsMono-2.304/fonts/ttf/JetBrainsMono-Regular.ttf) format(TrueType);
}
@font-face {
    font-family: 'JetB NL Regular';
    src: url(../fonts/JetBrainsMono-2.304/fonts/ttf/JetBrainsMonoNL-Regular.ttf) format(TrueType);
}



/*pallete: color and font*/
:root {
    /*Base*/
    --color-white: #ffffff;
    --color-black: #000000;
    --color-background: #2C1A2C;


    /*typography*/
    --color-text: ;


    /*Palete*/
    --color-violet: #2C1A2C;
    --color-azure: #ECF8F8 ;
    --color-green: #002500;
    --color-blue: #0C6291;
    --color-orange: #e09c4a;
    /*
    --color-orange: #ffbf71;
    --color-orange: #ffb760;
    */

    /*fonts*/
    --font_1: 'Inter Regular'; /*Vai ser usado para títulos no main__projects*/
    --font_2: 'JetB Regular';
    --font_3: 'JetB NL Regular';
}




* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
    font-family: var(--font_1);
    /*Preciso deixar o scroll do site suave*/
    /*Altere o coisinha do scroll tbm, veja qual estilo fica melhor para aplicar.*/
}


html, body {
    width: auto;
    height: 100svh;
        /*caso dê b.o de altura, o problema está aqui.*/
    min-height: 100svh; 
    background-color: #ffffff;
}

/*Altera a scrollbar, exceto no firefox*/
::-webkit-scrollbar {
    /*altera a scrollbar inteira*/
    width: 7px;
}
::-webkit-scrollbar-track {
    /*altera o fundo do scrollbar*/
    background-color: green;
}
::-webkit-scrollbar-thumb {
    /*altera o "botão" do scroll*/
    background-color: red;
    border-radius: 5px;
}


/*MOBILE [0px - 480px]*/



/*TABLET [481px - 1024px]*/
@media screen and (min-width: 481px) {

}

/*LAPTOP [1025px - 1280px]*/
@media screen and (min-width: 1025px) {

}





/*DESKTOP [1281px - 1920px]*/
@media screen and (min-width: 1281px) {
    body {
        display: grid;
        grid-template-rows: repeat(3, minmax(100vh, auto));
        grid-template-columns: 1fr;
    }
}





/*TV [1921px]*/
@media screen and (min-width: 1921px) {

}







































/*@charset "utf-8";*/
/*procure sempre padronizar no uso das medidas px e vh/



/*MOBILE [0px - 480px]/



/*TABLET [481px - 1024px]/
@media screen and (min-width: 481px) {

}

/*LAPTOP - DESKTOP [1025px - 1920px]/
@media screen and (min-width: 1025px) {

}

/*TV [1921px]/
@media screen and (min-width: 1921px) {

}