@charset "utf-8";
/*procure sempre padronizar no uso das medidas px, vw-vh, % e fr no máximo*/


/*MOBILE [0px - 480px]*/



/*TABLET [481px - 1024px]*/
@media screen and (min-width: 481px) {

}

/*LAPTOP [1025px - 1280px]*/
@media screen and (min-width: 1025px) {

}





/*DESKTOP [1281px - 1920px]*/
@media screen and (min-width: 1281px) {
    header.header {
        grid-row: 1/2;
        grid-column: 1/2;
        width: auto;
        height: auto;

    }
        section.about {
            width: 100%;
            height: 100%;
            background-color: rgb(0, 34, 255);
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: repeat(2, 1fr);
        }
            div.about__header {
                grid-column: 1/2;
                grid-row: 1/2;
                background-color: yellow;
            }


            div.about__content {
                grid-column: 2/3;
                grid-row: 1/2;
            }


/*
    backup do header
    header.header {
        grid-row: 1/2;
        grid-column: 1/2;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        background-color: green;
        /*background-color: var(--color-background);
    }
        section.about {
            width: clamp(790px, 60vw, 1600px);
            height: clamp(520px, 62vh, 1100px);
            /*alterar essa altura quando alterar o tamanho do título

            display: grid;
            grid-template-rows: 28% 44% 28%; 
            
            border-radius: 11px;
            overflow: hidden;

            /*
            background-color: var(--color-orange);
            
            background-color: white;
        }
            div.language {
                grid-row: 1/2;
                grid-column: 1/2;

                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: end;
            }
                button.language__button {
                    width: clamp(70px, 5.35vw, 180px);
                    height: clamp(35px, 4vh, 75px);
                    
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;

                    /*
                    font-size: clamp(12px, 1.1vw, 28px);
                    

                    font-size: clamp(12px, 1.2vw, 32px);
                    font-weight: normal;
                    text-align: center;

                    border: none;
                    border-radius: 5px;
                }


            div.about__header {
                grid-row: 2/3;
                grid-column: 1/2;

                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
            }
                h1.about__title {
                    /*
                    backup
                    font-size: clamp(100px, 7.5vw, 200px);
                    
                    font-size: clamp(112px, 8.5vw, 226px);
                    font-weight: lighter;
                }


            div.about__content {
                grid-row: 3/4;
                grid-column: 1/2;

                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: 1fr 1.5fr; 

            }
                h2.about__subtitle {
                    justify-self: center;
                    align-self: start;

                    /*
                    font-size: clamp(1.5vw, 36);
                    
                    font-size: 32px;
                    font-weight: lighter;
                                        
                    /*
                    margin-left: ;
                    margin-top: 1.8vh;
                    
                    margin-left: clamp(100px, 7.5vw, 200px);
                }
                
                p.about__text {
                    /*crescendo muito*/
                    margin-right: 120px;
                    
                    justify-self: start;
                    align-self: start;
                    
                    text-align: left;
                    font-size: 24px;
                    /*
                    font-style: italic;
                    
                }
*/
}





/*
dps do clamp(), acho que não vou precisar fazer media para tv.
TV [1921px]
@media screen and (min-width: 1921px) {
}
*/





























































