@charset "utf-8";
/*procure sempre padronizar no uso das medidas px, vw-vh, % e fr no máximo*/

 
/*MOBILE [0px - 480px]*/



/*TABLET [481px - 1024px]*/
@media screen and (min-width: 481px) {

}


/*LAPTOP - DESKTOP [1025px - 1920px]*/
@media screen and (min-width: 1025px) {
    .header {
        grid-row: 1/2;
        grid-column: 1/2;

        width: auto;
        height: auto;
    }
        .about {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 48vw 1fr clamp(110px, 8vw, 200px);
            background-color: var(--color-violet); 
            /* backup: 
                grid-template-columns: 36vw 1fr clamp(140px, 6.4vw, 190px); 
            */
        }
            .about__header {
                grid-column: 1/2;
                grid-row: 1/2;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;

                background-color: var(--color-azure);
            }
                .about__title {
                    font-family: var(--font_1); /*altere*/
                    font-size: clamp(100px, 9vw, 240px);
                    font-weight: bolder;
                    line-height: clamp(110px, 9.4vw, 250px);
                    color: var(--color-violet);
                }



            .about__content {
                grid-column: 2/3;
                grid-row: 1/2;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;

            }
                h2.about__subtitle {
                    grid-row: 1/2;
                    grid-column: 1/2;
                    font-size: 45px;
                    margin-bottom: 20px;
                }

                p.about__text {
                    grid-row: 2/3;
                    grid-column: 1/2;
                    /*width: 650px; problema aq em dispositivo meno*/

                    font-size: 30px;

                    letter-spacing: 2.5px;
                    text-align: center;
                }


            .about__tools {
                grid-column: 3/4;
                grid-row: 1/2;
                background-color: crimson;
            }
                .about__tools-list {
                    width: auto;
                    height: 100%;
                    display: grid;
                    grid-template-rows: repeat(6, 16.6%);
                    grid-template-columns: 1fr;
                    list-style: none;
                }
                    .about__tools-item {
                        justify-self: center;
                        align-self: center;
                    }
}
/*
dps do clamp(), acho que não vou precisar fazer media para tv.
TV [1921px]
@media screen and (min-width: 1921px) {
}
*/





























































