@charset "utf-8";
/*procure sempre padronizar no uso das medidas px e vh*/


/*MOBILE [0px - 599px] PRONTO*/
@media screen and (min-width: 0px) and (max-width: 599px){
    .main {
        grid-row: 2/5;
        grid-column: 1/2;

        display: grid;
        grid-template-rows: repeat(3, max(100vh, 600px));
        grid-template-columns: 1fr;

        background-color: var(--color-violet_super_dark);
    }
        .project {
            display: grid;
            grid-template-rows: 11% 33% 9% 19% 28%;
            grid-template-columns: 1fr;
        }


            .project__title {
                grid-row: 1/2;
                grid-column: 1/2;

                justify-self: center;
                align-self: end;

                font-size: clamp(20px, 5.5vw, 23px); /*213.89*/
                /*
                font-size: clamp(20px, 5.5vw, 23px) 5.5vw;

                font-size: 20px; min
                font-size: 22px - 5.5vw; default 
                font-size: 23px; max
                */
                
                letter-spacing: clamp(2.5px, 0.75vw, 3.5px);
                /*
                letter-spacing: 2.5px; min
                letter-spacing: 3px - 0.75vw; default
                letter-spacing: 3.5px; max
                */

                margin-bottom: clamp(4px, 3vw, 15px);
                /*
                margin-bottom: 4px; min
                margin-bottom: 12px - 3vw; default
                margin-bottom: 15px; max
                */

                color: var(--color-azure);
            }


            .project__image {
                grid-row: 2/3;
                grid-column: 1/2;

                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
            }
                .img_project {
                    width: clamp(250px, 85vw, 390px);
                    height: 100%;
                    /*
                    width: 250px; min
                    height: 90%; min
                    
                    width: 340px - 85vw; default
                    height: 100%; default
                    
                    width: 390px; max
                    height: 100%; max
                    */

                    border-radius: 5px;
                    background-color: green;
                }


            .project__tech {
                grid-row: 3/4;
                grid-column: 1/2;

                width: 100%;
                height: 100%;
            }
                .project__tech-list {
                    justify-self: center;
                    align-self: center;

                    width: clamp(250px, 85vw, 390px);
                    height: 100%;
                    /*
                    width: 250px; min
                    height: 100%; min

                    width: 340px - 85vw;  default
                    height: 100%;  default

                    width: 390px; max
                    height: 100%; max
                    */

                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: center;

                    list-style: none;
                }
                .project__tech-item {
                    width: clamp(28px, 8vw, 34px);
                    height: clamp(28px, 8vw, 34px);
                    /*
                    width: 28px; min
                    height: 28px; min

                    width: 32px - 8vw; default
                    height: 32px- 8vw; default

                    width: 34px; max
                    height: 34px; max
                    */
                    
                    background-color: white;
                }


            .project__about {
                grid-row: 4/5;
                grid-column: 1/2;

                justify-self: center;
                align-self: center;

                width: clamp(250px, 85vw, 390px);
                height: 100%;
                /*
                width: 250px; min 
                height: 100%; min

                width: 340px - 85vw; default
                height: 100%; default

                width: 390px; max
                height: 100%; max
                */

                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
            }
                .project__description {
                    font-size: clamp(16px, 4.3vw, 19px);
                    /*
                    font-size: 16px; min
                    font-size: 17.2px - 4.3vw; default
                    font-size: 19px; max
                    */

                    text-align: center;
                    color: var(--color-azure);
                }


            .project__buttons {
                grid-row: 5/6;
                grid-column: 1/2;

                justify-self: center;
                align-self: start;

                margin-top: clamp(25px, 7vw, 30px);
                /*
                margin-top: 25px; min
                margin-top: 28px - 7vw; default
                margin-top: 30px; max
                */

                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
            }
                .button {
                    width: clamp(250px, 85vw, 390px);
                    height: clamp(38px, 10.5vw, 44px);
                    /*
                    width: 255px; min
                    height: 38px; min

                    width: 340px - 85vw; default
                    height: 42px - 10.5vw; default

                    width: 390px; max
                    height: 44px; max
                    */

                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;

                    text-align: center;
                    text-decoration: none;
                    background-color: white;
                }
                    .button--open {
                        margin-bottom: clamp(18px, 4.8vw, 20px);
                        /*
                        margin-bottom: 18px; min
                        margin-bottom: 19px - 4.8vw; default
                        margin-bottom: 20px; max
                        */

                        background-color: white;
                    }
                    .button--github {
                        background-color: white;
                    }
}



/*TABLET [600px - 1024px]*/
@media screen and (min-width: 600px) and (max-width: 1024px) {
    .main {
        grid-row: 2/5;
        grid-column: 1/2;

        display: grid;
        grid-template-rows: repeat(3, max(100vh, 600px));
        grid-template-columns: 1fr;

        background-color: var(--color-violet_super_dark);
    }
        .project {
            display: grid;
            grid-template-rows: 8% 33% 12% 21% 26%;
            grid-template-columns: 1fr;

            background-color: var(--color-violet_super_dark);
        }
            .project__title {
                grid-row: 1/2;
                grid-column: 1/2;

                justify-self: center;
                align-self: center;

                color: var(--color-azure);
            }
            .project__image {
                grid-row: 2/3;
                grid-column: 1/2;

                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;

                background-color: pink;
            }

            .project__tech {
                grid-row: 3/4;
                grid-column: 1/2;
            }
                .project__tech-list {
                    width: 80%;
                    height: 100%;

                    justify-self: center;

                    list-style: none;

                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-evenly;
                    align-items: center;
                }

                .project__tech-item {
                    width: 30px;
                    height: 30px;
                    margin: 8px;
                    background-color: white;
                }

            .project__about {
                grid-row: 4/5;
                grid-column: 1/2;

                width: 300px;

                justify-self: center;
                align-self: center;
            }
                .project__description {
                    margin: 10px;
                    text-align: center;
                    color: var(--color-azure);
                }


            .project__buttons {
                grid-row: 5/6;
                grid-column: 1/2;

                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
            }
                .button {
                    width: 300px;
                    margin-bottom: 20px;
                    padding: 10px;
                    text-align: center;

                    background-color: white;
                }
}


/*LAPTOP - DESKTOP - TV[1025px - 1920px - > 1920px]*/
@media screen and (min-width: 1025px) {
    .main{
        grid-row: 2/5;
        grid-column: 1/2;

        display: grid;
        grid-template-rows: repeat(3, max(100vh, 768px));
        grid-template-columns: 1fr;

        background-color: var(--color-violet_super_dark);
    }
        .project {
            justify-self: center;
            align-self: center;

            width: 850px;
            height: 450px;
            /*
            width: 850px; min
            height: 450px; min

            */

            display: grid;
            grid-template-rows: repeat(4, 1fr);
            grid-template-columns: repeat(2, 1fr);
        }
            .project__title {
                grid-row: 1/2;
                grid-column: 2/3;

                justify-self: center;
                align-self: center;

                
                /*
                margin-bottom: 15px;
                font-size: ;
                letter-spacing: ;
                */
                color: var(--color-azure);
            }

            .project__image {
                grid-row: 1/5;
                grid-column: 1/2;
            }
                .img_project {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    background-color: green;
                }

            .project__tech {
                grid-row: 2/3;
                grid-column: 2/3;

                width: auto;
                height: auto;
            }
                .project__tech-list {
                    justify-self: center;
                    align-self: center;
                    
                    width: 340px;
                    height: 100%;

                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    /*
                    justify-content: space-evenly;
                    */
                    align-items: center;

                    list-style: none;
                }
                    .project__tech-item {
                        width: 35px;
                        height: 35px;
                        background-color: white;
                    }

            .project__about {
                grid-row: 3/4;
                grid-column: 2/3;

                justify-self: center;
                align-self: center;

                width: 340px;
                height: auto;

                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
            }
                .project__description {
                    /*
                    font-size: ;
                    */
                    text-align: center;
                    color: var(--color-azure);
                }

            .project__buttons {
                grid-row: 4/5;
                grid-column: 2/3;

                justify-self: center;
                align-self: center;

                width: 340px;
                height: 100%;
                
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                gap: 40px; /*20 do gap + 150 do botao == 170 * 2 == 340*/
                /*
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: repeat(2, 1fr);
                */

            }
                .button {
                    width: 150px;
                    height: 42px;

                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;

                    text-align: center;
                    background-color: aqua;
                }
}
