@charset "utf-8";
/*procure sempre padronizar no uso das medidas px e vh*/



/*MOBILE [0px - 480px]*/

/*TABLET [481px - 1024px]*/
@media screen and (min-width: 481px) {

}

/*LAPTOP [1025px - 1280px]*/
@media screen and (min-width: 1025px) {

}

/*DESKTOP [1281px - 1920px]*/
@media screen and (min-width: 1281px) {
    main.main_projects {
        grid-row: 2/5;
        grid-column: 1/2;
        background-color: var(--color-background);
    }
}

/*TV [1921px]*/
@media screen and (min-width: 1921px) {

}
