@charset "utf-8";
/*procure sempre padronizar no uso das medidas px e vh*/



/*MOBILE [0px - 480px]*/

/*TABLET [481px - 1024px]*/
@media screen and (min-width: 481px) {

}

/*LAPTOP [1025px - 1280px]*/
@media screen and (min-width: 1025px) {

}

/*DESKTOP [1281px - 1920px]*/
@media screen and (min-width: 1281px) {
    main.main_projects {
        grid-row: 2/5;
        grid-column: 1/2;
        /*
        background-color: var(--color-background);
        */
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

        background-color: green;
    }
        section.area_cards {
            width: 75vw;
            min-height: 100vh;


            display: flex;
            flex-flow: column wrap;


            background-color: white;
        }
            h2.area_cards__visually_hidden {
                position: absolute;
                width: 1px;
                height: 1px;

                margin: -1px;
                padding: 0px;
                border: 0px;
                
                overflow: hidden;
                white-space: nowrap;

                clip-path: inset(50%);
            }
            /*parei aqui, determinando a altura dos cards*/
            article.area_cards__card {
                width: 400px;
                height: 150px;
                margin: 10px;
                border: 1px solid black;
            }
            article.area_cards__card_teste {
                width: 400px;
                height: 300px;
                margin: 10px;
                border: 1px solid black;
            }
}

/*TV [1921px]*/
@media screen and (min-width: 1921px) {

}
