/*ESTILO DO SITE == PROGRAMAÇÃO*/

@charset "utf-8";

/*fonts externals*/
/*Inter*/
@font-face {
    font-family: 'Inter Regular';
    src: url(../../fonts/inter/Inter-Regular.otf) format(OpenType);
}



/*JetBrains*/
@font-face {
    font-family: 'JetB Regular';
    src: url(../../fonts/JetBrainsMono-2.304/fonts/ttf/JetBrainsMono-Regular.ttf) format(TrueType);
}
@font-face {
    font-family: 'JetB NL Regular';
    src: url(../../fonts/JetBrainsMono-2.304/fonts/ttf/JetBrainsMonoNL-Regular.ttf) format(TrueType);
}




/*font pallete*/
/*pallete 1*/
:root {
    --font_1: 'Inter Regular';
    --font_2: 'JetB Regular';
    --font_3: 'JetB NL Regular';
}




/*color pallete*/
/*pallete 1 == Dracula Theme*/
:root {
    --color_1: #282B37;
    --color_2: #FF79C6;
    --color_3: #50FB7A;
    --color_4: #F1FB8D;
    --color_5: #6BE4FC;
    --color_6: #AB87E0;
    --color_7: #F8F9F3;
}


/*pallete 2 == Sla Theme*/
:root {
    --cor1:#5eadc7;
    --cor2:#966DA9;
    --cor3:#BF7950;
    --cor4:#D6D98F;
    --cor5:#A4B0BF;
    --cor6:#262626;
    

    
    --cor7:#ffffff;
    --cor8:#000000;
    --cor1:#937dba;
    --cor2:#d8955d;
    --cor3:#d16172;
    --cor4:#93969a;
    --cor5:#262626;
    --cor6:#ffffff;
    --cor7:#000000;
}


/*pallete 3 == One Dark Pro*/
:root {
    --cor1: #292C35;
    --cor2: #E06D74;
    --cor3: #D09B66;
    --cor4: #99C279;
    --cor5: #AAB2BE;
    --cor6: #ffffff;
    --cor7: #000000;
}


/*pallete 4 == Arc Dark*/
:root {
    --cor1: #2E353F;
    --cor2: #CC684D;
    --cor3: #7486A6;
    --cor4: #8E9C6A;
    --cor5: #CCCCCC;
    --cor6: #ffffff;
    --cor7: #000000;
}





/*global settings*/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    font-family: var(--font_1);
    font-size: 16px;

    background-color: none;
}


/*document settings*/
html {
    width: auto;
    height: 100vh;
} 

body {
    width: 100%;
    height: 100%;
    min-height: 100%;

    display: grid;
    grid-template-columns: 16% 84%;
    grid-template-rows: repeat(3, 100%);
}





/*header settings*/
header {
    width: 100%;
    height: 100%;
    min-height: 100%;
    grid-row: 1/2;
    grid-column: 2/3;
}





/*menu settings*/
nav {
    width: 16%;
    height: 100%;
    min-height: 100%;

    grid-row: 1/2;
    grid-column: 1/2;

    position: fixed;
    top: 0px;
    left: 0px;

    background-color: aqua;
}
/*
section#introduction_website {
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-rows: 50px 150px 50px;
        grid-template-columns: 1fr;
    }
        div.container_title_menu {
            width: 100%;
            height: 100%;
            background-color: white;
        }
            h2.title_menu {
                font-size: 19px;
            }
*/





/*main settings*/
main {
    width: 100%;
    height: 100%;
    min-height: 100%;
    grid-row: 2/3;
    grid-column: 2/3;
}





/*footer settings*/
footer {
    width: 100%;
    height: 100%;
    min-height: 100%;
    grid-row: 3/4;
    grid-column: 2/3;
}
