/*ESTILO DO SITE == PROGRAMAÇÃO*/

@charset "utf-8";

/*fonts externals*/
@font-face {
    font-family: ;
    src: url();
}
@font-face {
    font-family: ;
    src: url();
}
@font-face {
    font-family: ;
    src: url();
}
*/


/*font pallete*/
/*pallete 1*/
:root {
    --font_1: black;
    --font_2: black;
}




/*color pallete*/
/*pallete 1 == Dracula Theme*/
:root {
    --color_1: #282B37;
    --color_2: #FF79C6;
    --color_3: #50FB7A;
    --color_4: #F1FB8D;
    --color_5: #6BE4FC;
    --color_6: #AB87E0;
    --color_7: #F8F9F3;
}


/*pallete 2 == Sla Theme*/
:root {
    --cor1:#937dba;
    --cor2:#d8955d;
    --cor3:#d16172;
    --cor4:#93969a;
    --cor5:#262626;
    --cor6:#ffffff;
    --cor7:#000000;
}


/*pallete 3 == One Dark Pro*/
:root {
    --cor1: #292C35;
    --cor2: #E06D74;
    --cor3: #D09B66;
    --cor4: #99C279;
    --cor5: #AAB2BE;
    --cor6: #ffffff;
    --cor7: #000000;
}


/*pallete 4 == Arc Dark*/
:root {
    --cor1: #2E353F;
    --cor2: #CC684D;
    --cor3: #7486A6;
    --cor4: #8E9C6A;
    --cor5: #CCCCCC;
    --cor6: #ffffff;
    --cor7: #000000;
}





/*global settings*/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    font-size: 16px;

}


/*document settings*/
html {
    width: auto;
    height: 100vh;
} 

body {
    width: 100%;
    height: 100%;
    min-height: 100%;

    display: grid;
    grid-template-columns: 16% 84%;
    grid-template-rows: repeat(3, 100%);
}





/*header settings*/
header {
    width: 100%;
    height: 100%;
    min-height: 100%;
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: violet;
}





/*menu settings*/
nav {
    width: 16%;
    height: 100%;
    min-height: 100%;
    grid-row: 1/2;
    grid-column: 1/2;

    position: fixed;
    top: 0px;
    left: 0px;
    
    background-color: rgb(0, 94, 255);
}






/*main settings*/
main {
    width: 100%;
    height: 100%;
    min-height: 100%;

    grid-row: 2/3;
    grid-column: 2/3;
    background-color: rgb(34, 255, 0);
}





/*footer settings*/
footer {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: blue;    
    grid-row: 3/4;
    grid-column: 2/3;
}
