/*
Arc Dark
:root {
    --cor1: #2E353F;
    --cor2: #CC684D;
    --cor3: #7486A6;
    --cor4: #8E9C6A;
    --cor5: #CCCCCC;
    --cor6: #ffffff;
    --cor7: #000000;



    --font_1: 'Inter Regular';
    --font_2: 'JetB Regular';
    --font_3: 'JetB NL Regular';
}




One Dark Pro
:root {
    --color-background: #292C35;
    --color-tag: #E06D74;
    --color-identifier: #D09B66;
    --color-name-identifier: #99C279;
    --color-writing: #AAB2BE;
    --color-white: #ffffff;
    --color-black: #000000;


    --font_1: 'Inter Regular';
    --font_2: 'JetB Regular';
    --font_3: 'JetB NL Regular';
}



Sla Theme
:root {
    --cor1:#5eadc7;
    --cor2:#966DA9;
    --cor3:#BF7950;
    --cor4:#D6D98F;
    --cor5:#A4B0BF;
    --cor6:#262626;
    --cor7:#ffffff;
    --cor8:#000000;

    --cor1:#937dba;
    --cor2:#d8955d;
    --cor3:#d16172;
    --cor4:#93969a;
    --cor5:#262626;
    --cor6:#ffffff;
    --cor7:#000000;


    --font_1: 'Inter Regular';
    --font_2: 'JetB Regular';
    --font_3: 'JetB NL Regular';
}
*/







/*ESTILO DO SITE == PROGRAMAÇÃO*/
@charset "utf-8";


/*fonts externals*/
/*Inter*/
@font-face {
    font-family: 'Inter Regular';
    src: url(../../fonts/inter/Inter-Regular.otf) format(OpenType);
}

/*JetBrains*/
@font-face {
    font-family: 'JetB Regular';
    src: url(../../fonts/JetBrainsMono-2.304/fonts/ttf/JetBrainsMono-Regular.ttf) format(TrueType);
}
@font-face {
    font-family: 'JetB NL Regular';
    src: url(../../fonts/JetBrainsMono-2.304/fonts/ttf/JetBrainsMonoNL-Regular.ttf) format(TrueType);
}



/*pallete: color and font*/

/*Dracula Theme*/
:root {
    --color_extra: #272B32;

    --color-background: #282B37;
    --color-tag: #FF79C6;
    --color-identifier: #50FB7A;
    --color-name-identifier: #F1FB8D;
    --color-functionality: #6BE4FC;
    --color-value-functionality: #AB87E0;
    --color-writing: #F8F9F3;

    --color-white: #ffffff;
    --color-black: #000000;


    --font_1: 'Inter Regular';
    --font_2: 'JetB Regular';
    --font_3: 'JetB NL Regular';
}









/*GLOBAL SETTINGS*/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    font-family: var(--font_1);
    font-size: 16px;

}

html, body {
    width: auto;
    min-height: 100svh;

    background-color: var(--color-background);
}





/*MOBILE [0px - 480px]*/
body {
    display: grid;
    grid-template-rows:  minmax(70px, 8vh) minmax(300px, 92vh) repeat(3, minmax(100vh, 1fr)); 
    /*
    grid-template-rows: repeat(3, minmax(100vh, 1fr)) minmax(50vh, 50vh);  footer ocupa apenas 50% da vh do dispositivo.
    */

    grid-template-columns: 1fr;
}










/*TABLET [481px - 1024px]*/
@media screen and (min-width: 481px) {

}










/*LAPTOP - DESKTOP [1025px - 1920px]*/
@media screen and (min-width: 1025px) {
/*
1025 - 1920
*/
}










@media screen and (min-width: 1921px) {
/*
1921 - xxxx
*/
}
