






/*ESTILO DO SITE == PROGRAMAÇÃO*/
@charset "utf-8";


/*fonts externals*/
/*Inter*/
@font-face {
    font-family: 'Inter Regular';
    src: url(../../fonts/inter/Inter-Regular.otf) format(OpenType);
}

/*JetBrains*/
@font-face {
    font-family: 'JetB Regular';
    src: url(../../fonts/JetBrainsMono-2.304/fonts/ttf/JetBrainsMono-Regular.ttf) format(TrueType);
}
@font-face {
    font-family: 'JetB NL Regular';
    src: url(../../fonts/JetBrainsMono-2.304/fonts/ttf/JetBrainsMonoNL-Regular.ttf) format(TrueType);
}



/*pallete: color and font*/
:root {
    /*Dracula Theme*/

    /*Base*/
    --color-white: ;
    --color-black: ;
    --color-background: ;


    /*typography*/
    --color-title: ;
    --color-text: ;


    
    /*Palete*/


    /*fonts*/
    --font_1: 'Inter Regular';
    --font_2: 'JetB Regular';
    --font_3: 'JetB NL Regular';
}









/*GLOBAL SETTINGS*/







/*MOBILE [0px - 480px]*/










/*TABLET [481px - 1024px]*/
@media screen and (min-width: 481px) {

}










/*LAPTOP - DESKTOP [1025px - 1920px]*/
@media screen and (min-width: 1025px) {
/*
1025 - 1920
*/
}










@media screen and (min-width: 1921px) {
/*
1921 - xxxx
*/
}
