@charset "utf-8";
/*procure sempre padronizar no uso das medidas px e vh*/



/*MOBILE [0px - 480px]*/
header.header {
    grid-row: 1/2;
    grid-column: 1/2;

    display: grid;
    grid-template-rows: minmax(90px, 10vh) 1fr;
    grid-template-columns: 1fr;

}
    section.hero__header {
        grid-row: 1/2;
        grid-column: 1/2;

        display: grid;
        grid-template-columns: minmax(50px, 20vw) 60vw minmax(50px, 20vw);
        grid-template-rows: 1fr;
    }
        div.container__icon__menu {
            grid-row: 1/2;
            grid-column: 1/2;

            /*
            position: sticky;
            */
            
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
        }
            img.icon__menu {
                flex-shrink: 0;
                width: 50px;

                color: var(--color-writing);
            }

        div.container__main__title {
            grid-row: 1/2;
            grid-column: 2/3;

            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
        }
            h1 {
                color: var(--color-writing);
            }



    section.container__menu {
        display: none;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 85vw;
        min-width: 250px;
        height: 85vh;
        min-height: 250px;
        background-color: aqua;
    }



    section.about_me {
        grid-row: 2/3;
        grid-column: 1/2;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        background-color: black;
    }
        h2.visually__hidden {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 1px;
            padding: 0px;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            white-space: nowrap;
            border: 0;
        }



        div.about_me__introduction { 
            height: 450px;

            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: 1fr;
        }
            div.container__text {
                grid-row: 1/2;
                grid-column: 1/2;
                background-color: brown;
            }
                p.about_me__text {
                    color: black;
                }


            div.container__technologies {
                grid-row: 2/3;
                grid-column: 1/2;
                background-color: rgb(130, 144, 238);
            }
                ul.about_me__technologies {
                    color: black;
                }









































/*TABLET [481px - 1024px]*/
@media screen and (min-width: 481px) {

}

/*LAPTOP - DESKTOP [1025px - 1920px]*/
@media screen and (min-width: 1025px) {

}

/*TV [1921px]*/
@media screen and (min-width: 1921px) {

}
