@charset "utf-8";
/*procure sempre padronizar no uso das medidas px e vh*/



/*MOBILE [0px - 480px]*/

section.hero__header {
    grid-row: 1/2;
    grid-column: 1/2;

    position: sticky;
    top: 0px;
    left: 0px;

    display: grid;
    grid-template-columns: minmax(50px, 20vw) 60vw minmax(50px, 20vw);
    grid-template-rows: 1fr;

    background-color: var(--color-background);
}


    div.container__icon__menu {
        grid-row: 1/2;
        grid-column: 1/2;
        
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
        svg.icon__menu {
            flex-shrink: 0;
            width: 34px;
            color: var(--color-writing);
        }



    div.container__menu {
        display: none;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 85vw;
        min-width: 250px;
        height: 85vh;
        min-height: 250px;
        background-color: aqua;
    }



    div.container__main__title {
        grid-row: 1/2;
        grid-column: 2/3;

        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
        h1 {
            font-size: 18px;
            font-style: italic;
            color: var(--color-writing);
        }



    div.container__language__changer {
        background-color: white;
    }






/*TABLET [481px - 1024px]*/
@media screen and (min-width: 481px) {

}

/*LAPTOP - DESKTOP [1025px - 1920px]*/
@media screen and (min-width: 1025px) {

}

/*TV [1921px]*/
@media screen and (min-width: 1921px) {

}
