@charset "utf-8";
/*procure sempre padronizar no uso das medidas px e vh*/



/*MOBILE [0px - 480px]*/
main.main__projects {
    grid-row: 2/3;
    grid-column: 1/2;

    display: grid;
    grid-template-rows: repeat(3, minmax(100px, 1fr));
    background-color: pink;

}

/*TABLET [481px - 1024px]*/
@media screen and (min-width: 481px) {

}

/*LAPTOP - DESKTOP [1025px - 1920px]*/
@media screen and (min-width: 1025px) {

}

/*TV [1921px]*/
@media screen and (min-width: 1921px) {

}